<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <variable name="logDirectory" value="${basedir}/logs/" />

  <targets>
    <target name="main" xsi:type="File" fileName="${logDirectory}/${shortdate}_main.txt" keepFileOpen="true"/>
    <target name="smsc" xsi:type="File" fileName="${logDirectory}/${shortdate}_smsc.txt" keepFileOpen="true"/>
    <target name="gate" xsi:type="File" fileName="${logDirectory}/${shortdate}_gate.txt" keepFileOpen="true"/>
  </targets>

  <rules>
    <logger name="main" minlevel="Debug" writeTo="main" />
    <logger name="smsc" minlevel="Debug" writeTo="smsc" />
    <logger name="gate" minlevel="Debug" writeTo="gate" />
  </rules>
  
</nlog>
